In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [9]:
df = pd.read_csv('airquality.csv')

In [10]:
print("Las 10 primeras lineas:")
print(df.head(10))

Las 10 primeras lineas:
   rownames  Ozone  Solar.R  Wind  Temp  Month  Day
0         1   41.0    190.0   7.4    67      5    1
1         2   36.0    118.0   8.0    72      5    2
2         3   12.0    149.0  12.6    74      5    3
3         4   18.0    313.0  11.5    62      5    4
4         5    NaN      NaN  14.3    56      5    5
5         6   28.0      NaN  14.9    66      5    6
6         7   23.0    299.0   8.6    65      5    7
7         8   19.0     99.0  13.8    59      5    8
8         9    8.0     19.0  20.1    61      5    9
9        10    NaN    194.0   8.6    69      5   10

In [15]:
print("La longitud del dataset es de : {len(df)}")

La longitud del dataset es de : {len(df)}

In [17]:
print("Característiques de cada columna:")
print(df.info())

Característiques de cada columna:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rownames  153 non-null    int64
 1   Ozone     116 non-null    float64
 2   Solar.R   146 non-null    float64
 3   Wind      153 non-null    float64
 4   Temp      153 non-null    int64
 5   Month     153 non-null    int64
 6   Day       153 non-null    int64
dtypes: float64(3), int64(4)
memory usage: 8.5 KB
None

In [18]:
max_temp = df['Temp'].max()
print(f"\nLa temperatura màxima és: {max_temp}")

La temperatura màxima és: 97

In [19]:
max_temp_row = df.loc[df['Temp'] == max_temp, ['Month', 'Day']]
print("\nEl mes i dia amb la temperatura màxima són:")
print(max_temp_row)

El mes i dia amb la temperatura màxima són:
     Month  Day
119      8   28